{
  "openapi": "3.0.0",
  "info": {
    "title": "EU SDX-Engine",
    "description": "SdxEngine for operations on sodex system data. Usage guide: https://sdx-software.atlassian.net/l/cp/m9rtU1tr",
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://api.sodex.cloud/v2"
    }
  ],
  "paths": {
    "/calendar-settings/": {
      "get": {
        "tags": ["CalendarSettings"],
        "summary": "Get all calendar_settings - Sodex only",
        "description": "Get all calendar_settings",
        "operationId": "get_all_calendar_settings_calendar_settings__get",
        "parameters": [
          {
            "description": "Skip the first n results",
            "required": false,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": false,
              "title": "Skip",
              "description": "Skip the first n results",
              "default": 0
            },
            "example": 0,
            "name": "skip",
            "in": "query"
          },
          {
            "description": "Limit the number of results",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 200,
              "exclusiveMinimum": false,
              "title": "Limit",
              "description": "Limit the number of results",
              "default": 200
            },
            "example": 200,
            "name": "limit",
            "in": "query"
          },
          {
            "description": "Sort the results. Use +/- to sort ascending/descending. No +/- means ascending. Separate through ','. Order is important.\n\n!!! IF SORT IS PROVIDED IT WILL BE EXECUTED FIRST !!! Limit and skip will be executed after sorting.",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Sort",
              "description": "Sort the results. Use +/- to sort ascending/descending. No +/- means ascending. Separate through ','. Order is important.\n\n!!! IF SORT IS PROVIDED IT WILL BE EXECUTED FIRST !!! Limit and skip will be executed after sorting."
            },
            "name": "sort",
            "in": "query"
          },
          {
            "description": "Query the results.                                        Schema: key'OPERATOR'value. Separate multiple through ','. Embedded documents marked with a (dot).                                        Supported operators:                                        = (equals)                                        != (not equals)                                        > (greater than)                                        < (less than)                                        >= (greater than or equal)                                        <= (less than or equal)                                        * (string contains)                                         ! (string does not contains)                                            Example: name*John,address.street=1st Street -> finds everyone that has John in the name and live ins 1st Street",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Query",
              "description": "Query the results.                                        Schema: key'OPERATOR'value. Separate multiple through ','. Embedded documents marked with a (dot).                                        Supported operators:                                        = (equals)                                        != (not equals)                                        > (greater than)                                        < (less than)                                        >= (greater than or equal)                                        <= (less than or equal)                                        * (string contains)                                         ! (string does not contains)                                            Example: name*John,address.street=1st Street -> finds everyone that has John in the name and live ins 1st Street"
            },
            "name": "query",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse_List_src.v2.sodexcloud.calendars.calendarsettings.schemas.OutCalendarSetting__"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2PasswordBearer": ["sodex"]
          }
        ]
      }
    },
    "/calendar-settings/{calendar_settings_id}": {
      "get": {
        "tags": ["CalendarSettings"],
        "summary": "Get calendar_setting by id",
        "description": "Get calendar_setting by id",
        "operationId": "get_calendar_setting_by_id_calendar_settings__calendar_settings_id__get",
        "parameters": [
          {
            "description": "CalendarSetting unique MongoDB Object-ID as string",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 24,
              "minLength": 24,
              "pattern": "^[0-9a-fA-F]{24}$",
              "title": "CalendarSetting unique MongoDB Object-ID as string",
              "description": "CalendarSetting unique MongoDB Object-ID as string"
            },
            "example": "5f9f1c5b9c9d1b0b8c8b4567",
            "name": "calendar_settings_id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse_OutCalendarSetting_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2PasswordBearer": ["cloud_base", "guest", "sodex"]
          }
        ]
      },
      "put": {
        "tags": ["CalendarSettings"],
        "summary": "Update calendar_setting",
        "description": "Update calendar_setting",
        "operationId": "update_calendar_setting_calendar_settings__calendar_settings_id__put",
        "parameters": [
          {
            "description": "CalendarSetting unique MongoDB Object-ID as string",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 24,
              "minLength": 24,
              "pattern": "^[0-9a-fA-F]{24}$",
              "title": "CalendarSetting unique MongoDB Object-ID as string",
              "description": "CalendarSetting unique MongoDB Object-ID as string"
            },
            "example": "5f9f1c5b9c9d1b0b8c8b4567",
            "name": "calendar_settings_id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCalendarSetting"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse_OutCalendarSetting_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2PasswordBearer": ["cloud_base", "guest", "sodex"]
          }
        ]
      },
      "delete": {
        "tags": ["CalendarSettings"],
        "summary": "Delete calendar_setting",
        "description": "Delete calendar_setting",
        "operationId": "delete_calendar_setting_calendar_settings__calendar_settings_id__delete",
        "parameters": [
          {
            "description": "CalendarSetting unique MongoDB Object-ID as string",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 24,
              "minLength": 24,
              "pattern": "^[0-9a-fA-F]{24}$",
              "title": "CalendarSetting unique MongoDB Object-ID as string",
              "description": "CalendarSetting unique MongoDB Object-ID as string"
            },
            "example": "5f9f1c5b9c9d1b0b8c8b4567",
            "name": "calendar_settings_id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse_bool_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2PasswordBearer": ["cloud_base", "guest", "sodex"]
          }
        ]
      }
    },
    "/project/{project_id}/calendar-settings": {
      "get": {
        "tags": ["CalendarSettings"],
        "summary": "Get all calendar_settings for a project",
        "description": "Get all calendar_settings for a project",
        "operationId": "get_all_calendar_settings_for_project_project__project_id__calendar_settings_get",
        "parameters": [
          {
            "description": "Unique project MongoDB Object-ID as string",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 24,
              "minLength": 24,
              "pattern": "^[0-9a-fA-F]{24}$",
              "title": "Unique project MongoDB Object-ID as string",
              "description": "Unique project MongoDB Object-ID as string"
            },
            "example": "668eb0adca7c6ff2ea8002bc",
            "name": "project_id",
            "in": "path"
          },
          {
            "description": "Skip the first n results",
            "required": false,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": true,
              "title": "Skip",
              "description": "Skip the first n results",
              "default": 0
            },
            "example": 0,
            "name": "skip",
            "in": "query"
          },
          {
            "description": "Limit the number of results",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 200,
              "exclusiveMinimum": false,
              "title": "Limit",
              "description": "Limit the number of results",
              "default": 200
            },
            "example": 200,
            "name": "limit",
            "in": "query"
          },
          {
            "description": "Sort the results. Use +/- to sort ascending/descending. No +/- means ascending. Separate through ','. Order is important.\n\n!!! IF SORT IS PROVIDED IT WILL BE EXECUTED FIRST !!! Limit and skip will be executed after sorting.",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Sort",
              "description": "Sort the results. Use +/- to sort ascending/descending. No +/- means ascending. Separate through ','. Order is important.\n\n!!! IF SORT IS PROVIDED IT WILL BE EXECUTED FIRST !!! Limit and skip will be executed after sorting."
            },
            "name": "sort",
            "in": "query"
          },
          {
            "description": "Query the results.                                        Schema: key'OPERATOR'value. Separate multiple through ','. Embedded documents marked with a (dot).                                        Supported operators:                                        = (equals)                                        != (not equals)                                        > (greater than)                                        < (less than)                                        >= (greater than or equal)                                        <= (less than or equal)                                        * (string contains)                                         ! (string does not contains)                                            Example: name*John,address.street=1st Street -> finds everyone that has John in the name and live ins 1st Street",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Query",
              "description": "Query the results.                                        Schema: key'OPERATOR'value. Separate multiple through ','. Embedded documents marked with a (dot).                                        Supported operators:                                        = (equals)                                        != (not equals)                                        > (greater than)                                        < (less than)                                        >= (greater than or equal)                                        <= (less than or equal)                                        * (string contains)                                         ! (string does not contains)                                            Example: name*John,address.street=1st Street -> finds everyone that has John in the name and live ins 1st Street"
            },
            "name": "query",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse_List_src.v2.sodexcloud.calendars.calendarsettings.schemas.OutCalendarSetting__"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2PasswordBearer": ["cloud_base", "guest", "sodex"]
          },
          {
            "OAuth2PasswordBearer": []
          }
        ]
      }
    },
    "/calendar/{calendar_id}/settings": {
      "get": {
        "tags": ["CalendarSettings"],
        "summary": "Get user calendar settings",
        "description": "Get all callendar settings for a calendar for this user",
        "operationId": "get_all_calendar_settings_for_calendar_calendar__calendar_id__settings_get",
        "parameters": [
          {
            "description": "Calendar unique MongoDB Object-ID as string",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 24,
              "minLength": 24,
              "pattern": "^[0-9a-fA-F]{24}$",
              "title": "Calendar unique MongoDB Object-ID as string",
              "description": "Calendar unique MongoDB Object-ID as string"
            },
            "example": "5f9f1c5b9c9d1b0b8c8b4567",
            "name": "calendar_id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse_OutCalendarSetting_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2PasswordBearer": ["cloud_base", "guest", "sodex"]
          },
          {
            "OAuth2PasswordBearer": []
          }
        ]
      }
    },
    "/calendar-events/": {
      "get": {
        "tags": ["CalendarEvents"],
        "summary": "Get all calendar_events - Sodex only",
        "description": "Get all calendar_events",
        "operationId": "get_all_calendar_events_calendar_events__get",
        "parameters": [
          {
            "description": "Skip the first n results",
            "required": false,
            "schema": {
              "type": "integer",
              "exclusiveMinimum":  true,
              "title": "Skip",
              "description": "Skip the first n results",
              "default": 0
            },
            "example": 0,
            "name": "skip",
            "in": "query"
          },
          {
            "description": "Limit the number of results",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 200,
              "exclusiveMinimum": false,
              "title": "Limit",
              "description": "Limit the number of results",
              "default": 200
            },
            "example": 200,
            "name": "limit",
            "in": "query"
          },
          {
            "description": "Sort the results. Use +/- to sort ascending/descending. No +/- means ascending. Separate through ','. Order is important.\n\n!!! IF SORT IS PROVIDED IT WILL BE EXECUTED FIRST !!! Limit and skip will be executed after sorting.",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Sort",
              "description": "Sort the results. Use +/- to sort ascending/descending. No +/- means ascending. Separate through ','. Order is important.\n\n!!! IF SORT IS PROVIDED IT WILL BE EXECUTED FIRST !!! Limit and skip will be executed after sorting."
            },
            "name": "sort",
            "in": "query"
          },
          {
            "description": "Query the results.                                        Schema: key'OPERATOR'value. Separate multiple through ','. Embedded documents marked with a (dot).                                        Supported operators:                                        = (equals)                                        != (not equals)                                        > (greater than)                                        < (less than)                                        >= (greater than or equal)                                        <= (less than or equal)                                        * (string contains)                                         ! (string does not contains)                                            Example: name*John,address.street=1st Street -> finds everyone that has John in the name and live ins 1st Street",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Query",
              "description": "Query the results.                                        Schema: key'OPERATOR'value. Separate multiple through ','. Embedded documents marked with a (dot).                                        Supported operators:                                        = (equals)                                        != (not equals)                                        > (greater than)                                        < (less than)                                        >= (greater than or equal)                                        <= (less than or equal)                                        * (string contains)                                         ! (string does not contains)                                            Example: name*John,address.street=1st Street -> finds everyone that has John in the name and live ins 1st Street"
            },
            "name": "query",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse_List_src.v2.sodexcloud.calendars.calendarevents.schemas.OutCalendarEvent__"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2PasswordBearer": ["sodex"]
          }
        ]
      }
    },
    "/calendar-events/{calendar_event_id}": {
      "get": {
        "tags": ["CalendarEvents"],
        "summary": "Get calendar_event by id",
        "description": "Get calendar_event by id",
        "operationId": "get_calendar_event_by_id_calendar_events__calendar_event_id__get",
        "parameters": [
          {
            "description": "CalendarEvent unique MongoDB Object-ID as string",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 24,
              "minLength": 24,
              "pattern": "^[0-9a-fA-F]{24}$",
              "title": "CalendarEvent unique MongoDB Object-ID as string",
              "description": "CalendarEvent unique MongoDB Object-ID as string"
            },
            "example": "5f9f1c5b9c9d1b0b8c8b4567",
            "name": "calendar_event_id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse_OutCalendarEvent_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2PasswordBearer": ["cloud_base", "guest", "sodex"]
          }
        ]
      },
      "put": {
        "tags": ["CalendarEvents"],
        "summary": "Update calendar_event",
        "description": "Update calendar_event",
        "operationId": "update_calendar_event_calendar_events__calendar_event_id__put",
        "parameters": [
          {
            "description": "CalendarEvent unique MongoDB Object-ID as string",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 24,
              "minLength": 24,
              "pattern": "^[0-9a-fA-F]{24}$",
              "title": "CalendarEvent unique MongoDB Object-ID as string",
              "description": "CalendarEvent unique MongoDB Object-ID as string"
            },
            "example": "5f9f1c5b9c9d1b0b8c8b4567",
            "name": "calendar_event_id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCalendarEvent"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse_OutCalendarEvent_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2PasswordBearer": ["cloud_base"]
          }
        ]
      },
      "delete": {
        "tags": ["CalendarEvents"],
        "summary": "Delete calendar_event",
        "description": "Delete calendar_event",
        "operationId": "delete_calendar_event_calendar_events__calendar_event_id__delete",
        "parameters": [
          {
            "description": "CalendarEvent unique MongoDB Object-ID as string",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 24,
              "minLength": 24,
              "pattern": "^[0-9a-fA-F]{24}$",
              "title": "CalendarEvent unique MongoDB Object-ID as string",
              "description": "CalendarEvent unique MongoDB Object-ID as string"
            },
            "example": "5f9f1c5b9c9d1b0b8c8b4567",
            "name": "calendar_event_id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse_bool_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2PasswordBearer": ["cloud_base"]
          }
        ]
      }
    },
    "/projects/{project_id}/calendar-events": {
      "get": {
        "tags": ["CalendarEvents"],
        "summary": "Get all calendar_events for a project",
        "description": "Get all calendar_events for a project",
        "operationId": "get_all_calendar_events_for_project_projects__project_id__calendar_events_get",
        "parameters": [
          {
            "description": "Unique project MongoDB Object-ID as string",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 24,
              "minLength": 24,
              "pattern": "^[0-9a-fA-F]{24}$",
              "title": "Unique project MongoDB Object-ID as string",
              "description": "Unique project MongoDB Object-ID as string"
            },
            "example": "668eb0adca7c6ff2ea8002bc",
            "name": "project_id",
            "in": "path"
          },
          {
            "description": "Skip the first n results",
            "required": false,
            "schema": {
              "type": "integer",
              "exclusiveMinimum":  true,
              "title": "Skip",
              "description": "Skip the first n results",
              "default": 0
            },
            "example": 0,
            "name": "skip",
            "in": "query"
          },
          {
            "description": "Limit the number of results",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 200,
              "exclusiveMinimum": false,
              "title": "Limit",
              "description": "Limit the number of results",
              "default": 200
            },
            "example": 200,
            "name": "limit",
            "in": "query"
          },
          {
            "description": "Sort the results. Use +/- to sort ascending/descending. No +/- means ascending. Separate through ','. Order is important.\n\n!!! IF SORT IS PROVIDED IT WILL BE EXECUTED FIRST !!! Limit and skip will be executed after sorting.",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Sort",
              "description": "Sort the results. Use +/- to sort ascending/descending. No +/- means ascending. Separate through ','. Order is important.\n\n!!! IF SORT IS PROVIDED IT WILL BE EXECUTED FIRST !!! Limit and skip will be executed after sorting."
            },
            "name": "sort",
            "in": "query"
          },
          {
            "description": "Query the results.                                        Schema: key'OPERATOR'value. Separate multiple through ','. Embedded documents marked with a (dot).                                        Supported operators:                                        = (equals)                                        != (not equals)                                        > (greater than)                                        < (less than)                                        >= (greater than or equal)                                        <= (less than or equal)                                        * (string contains)                                         ! (string does not contains)                                            Example: name*John,address.street=1st Street -> finds everyone that has John in the name and live ins 1st Street",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Query",
              "description": "Query the results.                                        Schema: key'OPERATOR'value. Separate multiple through ','. Embedded documents marked with a (dot).                                        Supported operators:                                        = (equals)                                        != (not equals)                                        > (greater than)                                        < (less than)                                        >= (greater than or equal)                                        <= (less than or equal)                                        * (string contains)                                         ! (string does not contains)                                            Example: name*John,address.street=1st Street -> finds everyone that has John in the name and live ins 1st Street"
            },
            "name": "query",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse_List_src.v2.sodexcloud.calendars.calendarevents.schemas.OutCalendarEvent__"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2PasswordBearer": ["cloud_base", "guest", "sodex"]
          },
          {
            "OAuth2PasswordBearer": []
          }
        ]
      }
    },
    "/calendar/{calendar_id}/events": {
      "get": {
        "tags": ["CalendarEvents"],
        "summary": "Get all calendar_events for a calendar",
        "description": "Get all calendar_events for a calendar",
        "operationId": "get_all_calendar_events_for_calendar_calendar__calendar_id__events_get",
        "parameters": [
          {
            "description": "Calendar unique MongoDB Object-ID as string",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 24,
              "minLength": 24,
              "pattern": "^[0-9a-fA-F]{24}$",
              "title": "Calendar unique MongoDB Object-ID as string",
              "description": "Calendar unique MongoDB Object-ID as string"
            },
            "example": "5f9f1c5b9c9d1b0b8c8b4567",
            "name": "calendar_id",
            "in": "path"
          },
          {
            "description": "Skip the first n results",
            "required": false,
            "schema": {
              "type": "integer",
              "exclusiveMinimum":  true,
              "title": "Skip",
              "description": "Skip the first n results",
              "default": 0
            },
            "example": 0,
            "name": "skip",
            "in": "query"
          },
          {
            "description": "Limit the number of results",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 200,
              "exclusiveMinimum": false,
              "title": "Limit",
              "description": "Limit the number of results",
              "default": 200
            },
            "example": 200,
            "name": "limit",
            "in": "query"
          },
          {
            "description": "Sort the results. Use +/- to sort ascending/descending. No +/- means ascending. Separate through ','. Order is important.\n\n!!! IF SORT IS PROVIDED IT WILL BE EXECUTED FIRST !!! Limit and skip will be executed after sorting.",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Sort",
              "description": "Sort the results. Use +/- to sort ascending/descending. No +/- means ascending. Separate through ','. Order is important.\n\n!!! IF SORT IS PROVIDED IT WILL BE EXECUTED FIRST !!! Limit and skip will be executed after sorting."
            },
            "name": "sort",
            "in": "query"
          },
          {
            "description": "Query the results.                                        Schema: key'OPERATOR'value. Separate multiple through ','. Embedded documents marked with a (dot).                                        Supported operators:                                        = (equals)                                        != (not equals)                                        > (greater than)                                        < (less than)                                        >= (greater than or equal)                                        <= (less than or equal)                                        * (string contains)                                         ! (string does not contains)                                            Example: name*John,address.street=1st Street -> finds everyone that has John in the name and live ins 1st Street",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Query",
              "description": "Query the results.                                        Schema: key'OPERATOR'value. Separate multiple through ','. Embedded documents marked with a (dot).                                        Supported operators:                                        = (equals)                                        != (not equals)                                        > (greater than)                                        < (less than)                                        >= (greater than or equal)                                        <= (less than or equal)                                        * (string contains)                                         ! (string does not contains)                                            Example: name*John,address.street=1st Street -> finds everyone that has John in the name and live ins 1st Street"
            },
            "name": "query",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse_List_src.v2.sodexcloud.calendars.calendarevents.schemas.OutCalendarEvent__"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2PasswordBearer": ["cloud_base", "guest", "sodex"]
          }
        ]
      }
    },
    "/calendar/{calendar_id}/event": {
      "post": {
        "tags": ["CalendarEvents"],
        "summary": "Create new calendar event",
        "description": "Create new calendar event",
        "operationId": "create_calendar_event_calendar__calendar_id__event_post",
        "parameters": [
          {
            "description": "Calendar unique MongoDB Object-ID as string",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 24,
              "minLength": 24,
              "pattern": "^[0-9a-fA-F]{24}$",
              "title": "Calendar unique MongoDB Object-ID as string",
              "description": "Calendar unique MongoDB Object-ID as string"
            },
            "example": "5f9f1c5b9c9d1b0b8c8b4567",
            "name": "calendar_id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_create_calendar_event_calendar__calendar_id__event_post"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse_OutCalendarEvent_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2PasswordBearer": ["cloud_base"]
          }
        ]
      }
    },
    "/calendar-events/{calendar_event_id}/files": {
      "put": {
        "tags": ["CalendarEvents"],
        "summary": "Update calendar_event files",
        "description": "Update calendar_event files",
        "operationId": "update_calendar_event_files_calendar_events__calendar_event_id__files_put",
        "parameters": [
          {
            "description": "CalendarEvent unique MongoDB Object-ID as string",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 24,
              "minLength": 24,
              "pattern": "^[0-9a-fA-F]{24}$",
              "title": "CalendarEvent unique MongoDB Object-ID as string",
              "description": "CalendarEvent unique MongoDB Object-ID as string"
            },
            "example": "5f9f1c5b9c9d1b0b8c8b4567",
            "name": "calendar_event_id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_update_calendar_event_files_calendar_events__calendar_event_id__files_put"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse_OutCalendarEvent_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2PasswordBearer": ["cloud_base", "guest", "sodex"]
          }
        ]
      }
    },
    "/calendars/": {
      "get": {
        "tags": ["Calendars"],
        "summary": "Get all calendars - Sodex only",
        "description": "Get all calendars",
        "operationId": "get_all_calendars_calendars__get",
        "parameters": [
          {
            "description": "Skip the first n results",
            "required": false,
            "schema": {
              "type": "integer",
              "exclusiveMinimum":  true,
              "title": "Skip",
              "description": "Skip the first n results",
              "default": 0
            },
            "example": 0,
            "name": "skip",
            "in": "query"
          },
          {
            "description": "Limit the number of results",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 200,
              "exclusiveMinimum": false,
              "title": "Limit",
              "description": "Limit the number of results",
              "default": 200
            },
            "example": 200,
            "name": "limit",
            "in": "query"
          },
          {
            "description": "Sort the results. Use +/- to sort ascending/descending. No +/- means ascending. Separate through ','. Order is important.\n\n!!! IF SORT IS PROVIDED IT WILL BE EXECUTED FIRST !!! Limit and skip will be executed after sorting.",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Sort",
              "description": "Sort the results. Use +/- to sort ascending/descending. No +/- means ascending. Separate through ','. Order is important.\n\n!!! IF SORT IS PROVIDED IT WILL BE EXECUTED FIRST !!! Limit and skip will be executed after sorting."
            },
            "name": "sort",
            "in": "query"
          },
          {
            "description": "Query the results.                                        Schema: key'OPERATOR'value. Separate multiple through ','. Embedded documents marked with a (dot).                                        Supported operators:                                        = (equals)                                        != (not equals)                                        > (greater than)                                        < (less than)                                        >= (greater than or equal)                                        <= (less than or equal)                                        * (string contains)                                         ! (string does not contains)                                            Example: name*John,address.street=1st Street -> finds everyone that has John in the name and live ins 1st Street",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Query",
              "description": "Query the results.                                        Schema: key'OPERATOR'value. Separate multiple through ','. Embedded documents marked with a (dot).                                        Supported operators:                                        = (equals)                                        != (not equals)                                        > (greater than)                                        < (less than)                                        >= (greater than or equal)                                        <= (less than or equal)                                        * (string contains)                                         ! (string does not contains)                                            Example: name*John,address.street=1st Street -> finds everyone that has John in the name and live ins 1st Street"
            },
            "name": "query",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse_List_src.v2.sodexcloud.calendars.calendars.schemas.OutCalendar__"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2PasswordBearer": ["sodex"]
          }
        ]
      }
    },
    "/calendars/{calendar_id}": {
      "get": {
        "tags": ["Calendars"],
        "summary": "Get calendar by id",
        "description": "Get calendar by id",
        "operationId": "get_calendar_by_id_calendars__calendar_id__get",
        "parameters": [
          {
            "description": "Calendar unique MongoDB Object-ID as string",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 24,
              "minLength": 24,
              "pattern": "^[0-9a-fA-F]{24}$",
              "title": "Calendar unique MongoDB Object-ID as string",
              "description": "Calendar unique MongoDB Object-ID as string"
            },
            "example": "5f9f1c5b9c9d1b0b8c8b4567",
            "name": "calendar_id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse_OutCalendar_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2PasswordBearer": ["cloud_base", "guest", "sodex"]
          }
        ]
      },
      "put": {
        "tags": ["Calendars"],
        "summary": "Update calendar",
        "description": "Update calendar",
        "operationId": "update_calendar_calendars__calendar_id__put",
        "parameters": [
          {
            "description": "Calendar unique MongoDB Object-ID as string",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 24,
              "minLength": 24,
              "pattern": "^[0-9a-fA-F]{24}$",
              "title": "Calendar unique MongoDB Object-ID as string",
              "description": "Calendar unique MongoDB Object-ID as string"
            },
            "example": "5f9f1c5b9c9d1b0b8c8b4567",
            "name": "calendar_id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCalendar"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse_OutCalendar_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2PasswordBearer": ["cloud_base", "guest", "sodex"]
          }
        ]
      },
      "delete": {
        "tags": ["Calendars"],
        "summary": "Delete calendar",
        "description": "Delete calendar",
        "operationId": "delete_calendar_calendars__calendar_id__delete",
        "parameters": [
          {
            "description": "Calendar unique MongoDB Object-ID as string",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 24,
              "minLength": 24,
              "pattern": "^[0-9a-fA-F]{24}$",
              "title": "Calendar unique MongoDB Object-ID as string",
              "description": "Calendar unique MongoDB Object-ID as string"
            },
            "example": "5f9f1c5b9c9d1b0b8c8b4567",
            "name": "calendar_id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse_bool_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2PasswordBearer": ["cloud_base", "guest", "sodex"]
          }
        ]
      }
    },
    "/projects/{project_id}/calendars": {
      "get": {
        "tags": ["Calendars"],
        "summary": "Get project calendars",
        "description": "Get project calendars",
        "operationId": "get_project_calendars_projects__project_id__calendars_get",
        "parameters": [
          {
            "description": "Unique project MongoDB Object-ID as string",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 24,
              "minLength": 24,
              "pattern": "^[0-9a-fA-F]{24}$",
              "title": "Unique project MongoDB Object-ID as string",
              "description": "Unique project MongoDB Object-ID as string"
            },
            "example": "668eb0adca7c6ff2ea8002bc",
            "name": "project_id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse_List_src.v2.sodexcloud.calendars.calendars.schemas.OutCalendar__"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2PasswordBearer": ["cloud_base", "guest", "sodex"]
          },
          {
            "OAuth2PasswordBearer": []
          }
        ]
      },
      "post": {
        "tags": ["Calendars"],
        "summary": "Create new calendar for a project",
        "description": "Create new calendar for a project",
        "operationId": "create_calendar_for_project_projects__project_id__calendars_post",
        "parameters": [
          {
            "description": "Unique project MongoDB Object-ID as string",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 24,
              "minLength": 24,
              "pattern": "^[0-9a-fA-F]{24}$",
              "title": "Unique project MongoDB Object-ID as string",
              "description": "Unique project MongoDB Object-ID as string"
            },
            "example": "668eb0adca7c6ff2ea8002bc",
            "name": "project_id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InputCalendar"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse_OutCalendar_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2PasswordBearer": ["cloud_base", "guest", "sodex"]
          },
          {
            "OAuth2PasswordBearer": []
          }
        ]
      }
    },
    "/projects/{project_id}/calendars-with-settings": {
      "get": {
        "tags": ["Calendars"],
        "summary": "Get project calendars with settings",
        "description": "Get project calendars with settings",
        "operationId": "get_project_calendars_with_settings_projects__project_id__calendars_with_settings_get",
        "parameters": [
          {
            "description": "Unique project MongoDB Object-ID as string",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 24,
              "minLength": 24,
              "pattern": "^[0-9a-fA-F]{24}$",
              "title": "Unique project MongoDB Object-ID as string",
              "description": "Unique project MongoDB Object-ID as string"
            },
            "example": "668eb0adca7c6ff2ea8002bc",
            "name": "project_id",
            "in": "path"
          },
          {
            "description": "Filter by owner type",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/OwnerType"
                }
              ],
              "description": "Filter by owner type"
            },
            "name": "owner_type",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse_List_src.v2.sodexcloud.calendars.calendars.schemas.OutCalendarWithSettings__"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2PasswordBearer": ["cloud_base", "guest", "sodex"]
          },
          {
            "OAuth2PasswordBearer": []
          }
        ]
      }
    },
    "/notifications/": {
      "get": {
        "tags": ["Notifications"],
        "summary": "Get all notifications - Sodex only",
        "description": "Get all notifications",
        "operationId": "get_all_notifications_notifications__get",
        "parameters": [
          {
            "description": "Skip the first n results",
            "required": false,
            "schema": {
              "type": "integer",
              "exclusiveMinimum":  true,
              "title": "Skip",
              "description": "Skip the first n results",
              "default": 0
            },
            "example": 0,
            "name": "skip",
            "in": "query"
          },
          {
            "description": "Limit the number of results",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 200,
              "exclusiveMinimum": false,
              "title": "Limit",
              "description": "Limit the number of results",
              "default": 200
            },
            "example": 200,
            "name": "limit",
            "in": "query"
          },
          {
            "description": "Sort the results. Use +/- to sort ascending/descending. No +/- means ascending. Separate through ','. Order is important.\n\n!!! IF SORT IS PROVIDED IT WILL BE EXECUTED FIRST !!! Limit and skip will be executed after sorting.",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Sort",
              "description": "Sort the results. Use +/- to sort ascending/descending. No +/- means ascending. Separate through ','. Order is important.\n\n!!! IF SORT IS PROVIDED IT WILL BE EXECUTED FIRST !!! Limit and skip will be executed after sorting."
            },
            "name": "sort",
            "in": "query"
          },
          {
            "description": "Query the results.                                        Schema: key'OPERATOR'value. Separate multiple through ','. Embedded documents marked with a (dot).                                        Supported operators:                                        = (equals)                                        != (not equals)                                        > (greater than)                                        < (less than)                                        >= (greater than or equal)                                        <= (less than or equal)                                        * (string contains)                                         ! (string does not contains)                                            Example: name*John,address.street=1st Street -> finds everyone that has John in the name and live ins 1st Street",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Query",
              "description": "Query the results.                                        Schema: key'OPERATOR'value. Separate multiple through ','. Embedded documents marked with a (dot).                                        Supported operators:                                        = (equals)                                        != (not equals)                                        > (greater than)                                        < (less than)                                        >= (greater than or equal)                                        <= (less than or equal)                                        * (string contains)                                         ! (string does not contains)                                            Example: name*John,address.street=1st Street -> finds everyone that has John in the name and live ins 1st Street"
            },
            "name": "query",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse_List_src.v2.sodexcloud.notifications.notifications2.schemas.OutNotification__"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2PasswordBearer": ["sodex"]
          },
          {
            "OAuth2PasswordBearer": []
          }
        ]
      }
    },
    "/notifications/{notification_id}": {
      "get": {
        "tags": ["Notifications"],
        "summary": "Get notification by id",
        "description": "Get notification by id",
        "operationId": "get_notification_by_id_notifications__notification_id__get",
        "parameters": [
          {
            "description": "Notification unique MongoDB Object-ID as string",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 24,
              "minLength": 24,
              "pattern": "^[0-9a-fA-F]{24}$",
              "title": "Notification unique MongoDB Object-ID as string",
              "description": "Notification unique MongoDB Object-ID as string"
            },
            "example": "5f9f1c5b9c9d1b0b8c8b4567",
            "name": "notification_id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse_OutNotification_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2PasswordBearer": ["cloud_base", "guest", "sodex"]
          },
          {
            "OAuth2PasswordBearer": []
          }
        ]
      },
      "put": {
        "tags": ["Notifications"],
        "summary": "Update notification",
        "description": "Update notification",
        "operationId": "update_notification_notifications__notification_id__put",
        "parameters": [
          {
            "description": "Notification unique MongoDB Object-ID as string",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 24,
              "minLength": 24,
              "pattern": "^[0-9a-fA-F]{24}$",
              "title": "Notification unique MongoDB Object-ID as string",
              "description": "Notification unique MongoDB Object-ID as string"
            },
            "example": "5f9f1c5b9c9d1b0b8c8b4567",
            "name": "notification_id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateNotification"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse_OutNotification_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2PasswordBearer": ["cloud_base", "guest", "sodex"]
          },
          {
            "OAuth2PasswordBearer": []
          }
        ]
      },
      "delete": {
        "tags": ["Notifications"],
        "summary": "Delete notification",
        "description": "Delete notification",
        "operationId": "delete_notification_notifications__notification_id__delete",
        "parameters": [
          {
            "description": "Notification unique MongoDB Object-ID as string",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 24,
              "minLength": 24,
              "pattern": "^[0-9a-fA-F]{24}$",
              "title": "Notification unique MongoDB Object-ID as string",
              "description": "Notification unique MongoDB Object-ID as string"
            },
            "example": "5f9f1c5b9c9d1b0b8c8b4567",
            "name": "notification_id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse_bool_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2PasswordBearer": ["cloud_base", "guest", "sodex"]
          }
        ]
      }
    },
    "/users/me/notifications/": {
      "get": {
        "tags": ["Notifications"],
        "summary": "Get all notifications",
        "description": "Get all notifications",
        "operationId": "get_all_notifications_users_me_notifications__get",
        "parameters": [
          {
            "description": "Skip the first n results",
            "required": false,
            "schema": {
              "type": "integer",
              "exclusiveMinimum":  true,
              "title": "Skip",
              "description": "Skip the first n results",
              "default": 0
            },
            "example": 0,
            "name": "skip",
            "in": "query"
          },
          {
            "description": "Limit the number of results",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 200,
              "exclusiveMinimum": false,
              "title": "Limit",
              "description": "Limit the number of results",
              "default": 200
            },
            "example": 200,
            "name": "limit",
            "in": "query"
          },
          {
            "description": "Sort the results. Use +/- to sort ascending/descending. No +/- means ascending. Separate through ','. Order is important.\n\n!!! IF SORT IS PROVIDED IT WILL BE EXECUTED FIRST !!! Limit and skip will be executed after sorting.",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Sort",
              "description": "Sort the results. Use +/- to sort ascending/descending. No +/- means ascending. Separate through ','. Order is important.\n\n!!! IF SORT IS PROVIDED IT WILL BE EXECUTED FIRST !!! Limit and skip will be executed after sorting."
            },
            "name": "sort",
            "in": "query"
          },
          {
            "description": "Query the results.                                        Schema: key'OPERATOR'value. Separate multiple through ','. Embedded documents marked with a (dot).                                        Supported operators:                                        = (equals)                                        != (not equals)                                        > (greater than)                                        < (less than)                                        >= (greater than or equal)                                        <= (less than or equal)                                        * (string contains)                                         ! (string does not contains)                                            Example: name*John,address.street=1st Street -> finds everyone that has John in the name and live ins 1st Street",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Query",
              "description": "Query the results.                                        Schema: key'OPERATOR'value. Separate multiple through ','. Embedded documents marked with a (dot).                                        Supported operators:                                        = (equals)                                        != (not equals)                                        > (greater than)                                        < (less than)                                        >= (greater than or equal)                                        <= (less than or equal)                                        * (string contains)                                         ! (string does not contains)                                            Example: name*John,address.street=1st Street -> finds everyone that has John in the name and live ins 1st Street"
            },
            "name": "query",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse_List_src.v2.sodexcloud.notifications.notifications2.schemas.OutNotification__"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2PasswordBearer": ["cloud_base", "guest", "sodex"]
          },
          {
            "OAuth2PasswordBearer": []
          }
        ]
      }
    },
    "/users/me/notifications/clear-all": {
      "put": {
        "tags": ["Notifications"],
        "summary": "Clear all notifications",
        "description": "Clear all notifications",
        "operationId": "clear_all_notifications_users_me_notifications_clear_all_put",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse_bool_"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2PasswordBearer": ["cloud_base", "guest", "sodex"]
          },
          {
            "OAuth2PasswordBearer": []
          }
        ]
      }
    },
    "/notification-settings/": {
      "get": {
        "tags": ["NotificationSettings"],
        "summary": "Get all notification_settings - Sodex only",
        "description": "Get all notification_settings",
        "operationId": "get_all_notification_settings_notification_settings__get",
        "parameters": [
          {
            "description": "Skip the first n results",
            "required": false,
            "schema": {
              "type": "integer",
              "exclusiveMinimum":  true,
              "title": "Skip",
              "description": "Skip the first n results",
              "default": 0
            },
            "example": 0,
            "name": "skip",
            "in": "query"
          },
          {
            "description": "Limit the number of results",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 200,
              "exclusiveMinimum": false,
              "title": "Limit",
              "description": "Limit the number of results",
              "default": 200
            },
            "example": 200,
            "name": "limit",
            "in": "query"
          },
          {
            "description": "Sort the results. Use +/- to sort ascending/descending. No +/- means ascending. Separate through ','. Order is important.\n\n!!! IF SORT IS PROVIDED IT WILL BE EXECUTED FIRST !!! Limit and skip will be executed after sorting.",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Sort",
              "description": "Sort the results. Use +/- to sort ascending/descending. No +/- means ascending. Separate through ','. Order is important.\n\n!!! IF SORT IS PROVIDED IT WILL BE EXECUTED FIRST !!! Limit and skip will be executed after sorting."
            },
            "name": "sort",
            "in": "query"
          },
          {
            "description": "Query the results.                                        Schema: key'OPERATOR'value. Separate multiple through ','. Embedded documents marked with a (dot).                                        Supported operators:                                        = (equals)                                        != (not equals)                                        > (greater than)                                        < (less than)                                        >= (greater than or equal)                                        <= (less than or equal)                                        * (string contains)                                         ! (string does not contains)                                            Example: name*John,address.street=1st Street -> finds everyone that has John in the name and live ins 1st Street",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Query",
              "description": "Query the results.                                        Schema: key'OPERATOR'value. Separate multiple through ','. Embedded documents marked with a (dot).                                        Supported operators:                                        = (equals)                                        != (not equals)                                        > (greater than)                                        < (less than)                                        >= (greater than or equal)                                        <= (less than or equal)                                        * (string contains)                                         ! (string does not contains)                                            Example: name*John,address.street=1st Street -> finds everyone that has John in the name and live ins 1st Street"
            },
            "name": "query",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse_List_src.v2.sodexcloud.notifications.settings.schemas.OutNotificationSettings__"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2PasswordBearer": ["sodex"]
          }
        ]
      }
    },
    "/notification-settings/{notification_settings_id}": {
      "get": {
        "tags": ["NotificationSettings"],
        "summary": "Get notification_setting by id",
        "description": "Get notification_setting by id",
        "operationId": "get_notification_setting_by_id_notification_settings__notification_settings_id__get",
        "parameters": [
          {
            "description": "Unique MongoDB ID as string",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 24,
              "minLength": 24,
              "pattern": "^[0-9a-fA-F]{24}$",
              "title": "MongoDB unique ID",
              "description": "Unique MongoDB ID as string"
            },
            "example": "5f9f1c5b9c9d1b0b8c8b4567",
            "name": "notification_settings_id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse_OutNotificationSettings_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2PasswordBearer": []
          }
        ]
      },
      "put": {
        "tags": ["NotificationSettings"],
        "summary": "Update notification_setting",
        "description": "Update notification_setting",
        "operationId": "update_notification_setting_notification_settings__notification_settings_id__put",
        "parameters": [
          {
            "description": "Unique MongoDB ID as string",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 24,
              "minLength": 24,
              "pattern": "^[0-9a-fA-F]{24}$",
              "title": "MongoDB unique ID",
              "description": "Unique MongoDB ID as string"
            },
            "example": "5f9f1c5b9c9d1b0b8c8b4567",
            "name": "notification_settings_id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateNotificationSettings"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse_OutNotificationSettings_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2PasswordBearer": []
          }
        ]
      },
      "delete": {
        "tags": ["NotificationSettings"],
        "summary": "Delete notification_setting",
        "description": "Delete notification_setting",
        "operationId": "delete_notification_setting_notification_settings__notification_settings_id__delete",
        "parameters": [
          {
            "description": "Unique MongoDB ID as string",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 24,
              "minLength": 24,
              "pattern": "^[0-9a-fA-F]{24}$",
              "title": "MongoDB unique ID",
              "description": "Unique MongoDB ID as string"
            },
            "example": "5f9f1c5b9c9d1b0b8c8b4567",
            "name": "notification_settings_id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse_bool_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2PasswordBearer": []
          }
        ]
      }
    },
    "/users/me/notification-settings": {
      "get": {
        "tags": ["NotificationSettings"],
        "summary": "Get notification_setting by user id",
        "description": "Get notification_setting by user id",
        "operationId": "get_notification_settings_of_my_user_users_me_notification_settings_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse_OutNotificationSettings_"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2PasswordBearer": []
          }
        ]
      },
      "put": {
        "tags": ["NotificationSettings"],
        "summary": "Update notification_setting by user id",
        "description": "Update notification_setting by user id",
        "operationId": "update_notification_settings_of_my_user_users_me_notification_settings_put",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateNotificationSettings"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse_OutNotificationSettings_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2PasswordBearer": []
          }
        ]
      },
      "post": {
        "tags": ["NotificationSettings"],
        "summary": "Create notification_setting by user id",
        "description": "Create notification_setting by user id",
        "operationId": "create_notification_settings_of_my_user_users_me_notification_settings_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InputNotificationSettings"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse_OutNotificationSettings_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2PasswordBearer": []
          }
        ]
      }
    },
    "/cable-segments/": {
      "get": {
        "tags": ["CableSegments"],
        "summary": "Get all segments - Sodex only",
        "description": "Get all segments",
        "operationId": "get_all_segments_cable_segments__get",
        "parameters": [
          {
            "description": "Skip the first n results",
            "required": false,
            "schema": {
              "type": "integer",
              "exclusiveMinimum":  true,
              "title": "Skip",
              "description": "Skip the first n results",
              "default": 0
            },
            "example": 0,
            "name": "skip",
            "in": "query"
          },
          {
            "description": "Limit the number of results",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 200,
              "exclusiveMinimum": false,
              "title": "Limit",
              "description": "Limit the number of results",
              "default": 200
            },
            "example": 200,
            "name": "limit",
            "in": "query"
          },
          {
            "description": "Sort the results. Use +/- to sort ascending/descending. No +/- means ascending. Separate through ','. Order is important.\n\n!!! IF SORT IS PROVIDED IT WILL BE EXECUTED FIRST !!! Limit and skip will be executed after sorting.",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Sort",
              "description": "Sort the results. Use +/- to sort ascending/descending. No +/- means ascending. Separate through ','. Order is important.\n\n!!! IF SORT IS PROVIDED IT WILL BE EXECUTED FIRST !!! Limit and skip will be executed after sorting."
            },
            "name": "sort",
            "in": "query"
          },
          {
            "description": "Query the results.                                        Schema: key'OPERATOR'value. Separate multiple through ','. Embedded documents marked with a (dot).                                        Supported operators:                                        = (equals)                                        != (not equals)                                        > (greater than)                                        < (less than)                                        >= (greater than or equal)                                        <= (less than or equal)                                        * (string contains)                                         ! (string does not contains)                                            Example: name*John,address.street=1st Street -> finds everyone that has John in the name and live ins 1st Street",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Query",
              "description": "Query the results.                                        Schema: key'OPERATOR'value. Separate multiple through ','. Embedded documents marked with a (dot).                                        Supported operators:                                        = (equals)                                        != (not equals)                                        > (greater than)                                        < (less than)                                        >= (greater than or equal)                                        <= (less than or equal)                                        * (string contains)                                         ! (string does not contains)                                            Example: name*John,address.street=1st Street -> finds everyone that has John in the name and live ins 1st Street"
            },
            "name": "query",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse_List_src.v2.sodexcloud.cables.cablesegments.schemas.OutSegment__"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2PasswordBearer": ["sodex"]
          }
        ]
      }
    },
    "/cable-segments/{cable_segment_id}": {
      "get": {
        "tags": ["CableSegments"],
        "summary": "Get segment by id",
        "description": "Get segment by id",
        "operationId": "get_segment_by_id_cable_segments__cable_segment_id__get",
        "parameters": [
          {
            "description": "Unique MongoDB ID as string",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 24,
              "minLength": 24,
              "pattern": "^[0-9a-fA-F]{24}$",
              "title": "MongoDB unique ID",
              "description": "Unique MongoDB ID as string"
            },
            "example": "5f9f1c5b9c9d1b0b8c8b4567",
            "name": "cable_segment_id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse_OutSegment_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2PasswordBearer": []
          }
        ]
      },
      "put": {
        "tags": ["CableSegments"],
        "summary": "Update segment",
        "description": "Update segment",
        "operationId": "update_segment_cable_segments__cable_segment_id__put",
        "parameters": [
          {
            "description": "Unique MongoDB ID as string",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 24,
              "minLength": 24,
              "pattern": "^[0-9a-fA-F]{24}$",
              "title": "MongoDB unique ID",
              "description": "Unique MongoDB ID as string"
            },
            "example": "5f9f1c5b9c9d1b0b8c8b4567",
            "name": "cable_segment_id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSegment"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse_OutSegment_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2PasswordBearer": []
          }
        ]
      },
      "delete": {
        "tags": ["CableSegments"],
        "summary": "Delete segment",
        "description": "Delete segment",
        "operationId": "delete_segment_cable_segments__cable_segment_id__delete",
        "parameters": [
          {
            "description": "Unique MongoDB ID as string",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 24,
              "minLength": 24,
              "pattern": "^[0-9a-fA-F]{24}$",
              "title": "MongoDB unique ID",
              "description": "Unique MongoDB ID as string"
            },
            "example": "5f9f1c5b9c9d1b0b8c8b4567",
            "name": "cable_segment_id",
            "in": "path"
          },
          {
            "description": "Delete files associated with points in this segment in explorer and storage",
            "required": false,
            "schema": {
              "type": "boolean",
              "title": "Delete Files",
              "description": "Delete files associated with points in this segment in explorer and storage",
              "default": false
            },
            "name": "delete_files",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse_bool_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2PasswordBearer": []
          }
        ]
      }
    },
    "/projects/{project_id}/cable-segments": {
      "get": {
        "tags": ["CableSegments"],
        "summary": "Get all segments for a project",
        "description": "Get all segments for a project",
        "operationId": "get_all_segments_for_project_projects__project_id__cable_segments_get",
        "parameters": [
          {
            "description": "Unique project MongoDB Object-ID as string",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 24,
              "minLength": 24,
              "pattern": "^[0-9a-fA-F]{24}$",
              "title": "Unique project MongoDB Object-ID as string",
              "description": "Unique project MongoDB Object-ID as string"
            },
            "example": "668eb0adca7c6ff2ea8002bc",
            "name": "project_id",
            "in": "path"
          },
          {
            "description": "Skip the first n results",
            "required": false,
            "schema": {
              "type": "integer",
              "exclusiveMinimum":  true,
              "title": "Skip",
              "description": "Skip the first n results",
              "default": 0
            },
            "example": 0,
            "name": "skip",
            "in": "query"
          },
          {
            "description": "Limit the number of results",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 200,
              "exclusiveMinimum": false,
              "title": "Limit",
              "description": "Limit the number of results",
              "default": 200
            },
            "example": 200,
            "name": "limit",
            "in": "query"
          },
          {
            "description": "Sort the results. Use +/- to sort ascending/descending. No +/- means ascending. Separate through ','. Order is important.\n\n!!! IF SORT IS PROVIDED IT WILL BE EXECUTED FIRST !!! Limit and skip will be executed after sorting.",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Sort",
              "description": "Sort the results. Use +/- to sort ascending/descending. No +/- means ascending. Separate through ','. Order is important.\n\n!!! IF SORT IS PROVIDED IT WILL BE EXECUTED FIRST !!! Limit and skip will be executed after sorting."
            },
            "name": "sort",
            "in": "query"
          },
          {
            "description": "Query the results.                                        Schema: key'OPERATOR'value. Separate multiple through ','. Embedded documents marked with a (dot).                                        Supported operators:                                        = (equals)                                        != (not equals)                                        > (greater than)                                        < (less than)                                        >= (greater than or equal)                                        <= (less than or equal)                                        * (string contains)                                         ! (string does not contains)                                            Example: name*John,address.street=1st Street -> finds everyone that has John in the name and live ins 1st Street",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Query",
              "description": "Query the results.                                        Schema: key'OPERATOR'value. Separate multiple through ','. Embedded documents marked with a (dot).                                        Supported operators:                                        = (equals)                                        != (not equals)                                        > (greater than)                                        < (less than)                                        >= (greater than or equal)                                        <= (less than or equal)                                        * (string contains)                                         ! (string does not contains)                                            Example: name*John,address.street=1st Street -> finds everyone that has John in the name and live ins 1st Street"
            },
            "name": "query",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
[...]
